extends layout

block content
  h1= 'CRM-Backend'
  p Welcome to CRM-Backend
  ul
    li
      a(href='/users') Users-
    li
      a(href='/slider') Slider
    li
      a(href='/iconbox') Icon Box
    li
      a(href='/medias') Medias
    li
      a(href='/experts') Experts
    li
      a(href='/messages') Messages
    li
      a(href='/subscribers') Subscribers
    li
      a(href='/menus') Menus
    li
      a(href='/roles') Roles
    li
      a(href='/staticpage') Static Pages
    li
      a(href='/companyintroduction') Company Introduction-
    li
      a(href='/socialMedia') Social Media
    li
      a(href='/companyprofile') Company Profile
    li
      a(href='/products') Products
    li
      a(href='/comments') Comments
    li
      a(href='/sections') Sections
    li
      a(href='/blogs') Blogs
    li
      a(href='/videos') Videos

